
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

//Color Pallette
$marvel-red: #f0141e;
$venetian: #C51119;
$deepred:#58080B;

$dark-blue: #183059;
$deep-blue: #2D4268;
$gray-blue: #425577;
$slate: #6C7B95;

$off-white: #f6f4f3;
$dark-gray: #333333;

$darkgreen: #29422F;
$duskygreen: #4A7856;
$lighter-green: #7B9C84;

$light-yellow: #FCF8E3;
$yellow: #F0AD4E;
$yellow-gray: #737168;

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
  background-color: $off-white;
}

.btn-marvel{
  background-color: $marvel-red;
  color:white;
}

.btn-interact{
  background-color: $venetian;
  color:white;
}

.favorite{

}

.favorite-btn{

}

/*
NAVBAR LAYOUT
*/

.navbar-color{
  background-color: $dark-blue;
  color: $off-white;
  margin: 5px;
}

.navbar-color > a {
  color: $off-white;
}

.home-nav{
  font-size: 24px;
}

.marvel-logo{
  max-height: 50px;
}

.avatar-header{
  margin-left: 5px;
  max-width:50px;
  max-height: 35px;
  border-radius: 25%;
}

.btn-logout{
  background-color: $marvel-red;
  color:white;
}

/*
FOOTER STYLES
*/

.footer-control{
  background-color: $slate;
  min-height: 15vh;
  padding-top: 10px;
}

.legal{
  display: inline-block;
  text-align: right;
}

.legal > a{
  color: $off-white
}

/*
LANDING PAGE
*/

.welcome-banner{
  text-align: center;
}

.instruction-box{
  min-height: 75px;
  padding-left: 25px;
}

.login-btns{
  padding-left: 35%;
}

.login-container{
  background-color: $dark-blue;
  color: $off-white;
}

.sign-up-container{
  background-color: $dark-blue;
  color: $off-white;
  display: none;
}

.ins-box-1:before {
  content: '1';
  float: left;
  font-size: 40px;
  font-style: oblique;
  margin-right: 5px;
}

.ins-box-2:before {
  content: '2';
  float: left;
  font-size: 40px;
  font-style: oblique;
  margin-right: 5px;
}

.ins-box-3:before {
  content: '3';
  float: left;
  font-size: 40px;
  font-style: oblique;
  margin-right: 5px;
}

.landing-p{
  text-align: center;
}

/*
PROFILE PAGE
*/

.profile-spacer{
  min-height: 75vh;
}

/*
RESULTS PAGE
*/
.results-pic{
  min-height: 270px;
  max-height: 270px;
}

.glyphicon-down{
  display: none;
}

.results-title{
  max-height: 26px;
  overflow: scroll;
}

.results-spacer{
  min-height: 50vh;
}

.results-caption{

}

.results-panel{
  border-color: #333;
}



/*
Collection View
*/

.manager-title{
  text-align: center;
}

.glyphicon-up{
  color: $off-white;
}

.glyphicon-down{
  color: $off-white;
}

.heading-collection >span{
  color: $off-white;
}

.panel-collection{
  background-color: $slate;
  border-color: $dark-blue;
}

.btn-collection{
  background-color: $deep-blue;
  color: $off-white;
}

.btn-spacer-rt{
  border-right: 1px solid $deepred;
}

.btn-spacer-lft{
  border-left: 1px solid $deepred;
}

.panel-body{
  background-color: white;
}

.coll-btn-spacer{
  padding-left: 40%;
  margin-bottom: 25px;
}

.inspect-item{
  list-style: none;
  color: #FFFFFF;
}

/*
Wishlist View
*/

.heading-wishlist{
  color: $darkgreen;
}

.panel-wishlist{
  background-color: $lighter-green;
  border-color: $duskygreen;
}

.btn-wishlist{
  background-color: $duskygreen;
  color: $off-white;
}

/*
Favorite View
*/

.favorite-header{
  color: $yellow-gray;
}

.favorite-spacer{
  min-height: 60vh;
}

.btn-favorite{
  color: $off-white;
  background-color: $yellow
}

/*
Item Views
*/

.itemview-title{
  text-align: center;
}

.btn-links{
  background-color: $slate;
  color: $off-white;
}
