
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/*
NAVBAR LAYOUT
*/

.marvel-logo{
  max-height: 50px;
}

.avatar-header{
  max-width:50px;
}

/*
RESULTS PAGE
*/
.results-pic{
  min-height: 270px;
  max-height: 270px;
}

.glyphicon-down{
  display: none;
}

.results-title{
  max-height: 26px;
  overflow: scroll;
}

.results-caption{

}

/*
Collection View
*/

.inspect-item{
  list-style: none;
  color: #FFFFFF;
}
